<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>URL Shortener</title>
</head>
<body>

  <div class="container">
    <h1><a href="/" class="title">URL Shortener</a></h1>
    <img src="image/url.png" alt="url-image" class="url-img">
  

  {{{body}}}
  
</body>
</html>