
  <div class="shorten-area">

    <h3>Success! Please use this link :</h3>
    <div class="copy-area">
      <a id="shortenedURL" href="http://localhost:3000/{{shortUrl}}">http://localhost:3000/{{shortUrl}}</a>
      <br>
      <button class="copy-btn">Copy</button>
    </div>

  </div>
</div>