
  <div class="shorten-area">

    <h3>Success! Please use this link :</h3>
    <div class="copy-area">
      <a href="http://localhost:3000/{{shortURL}}">http://localhost:3000/{{shortURL}}</a>
      <br>
      <button onclick="copyUrl()" class="copy-btn">Copy</button>
    </div>

  </div>
</div>